<div class="example-container">
  <mat-form-field appearance="fill">
    <mat-label>Enter password</mat-label>
    <input matInput [formControl]="textControl" placeholder="Type something" type="text" required>
  </mat-form-field>
</div>
<div *ngIf="password$ | async"><button (click)="butt()">BBB</button></div>

<div class="strength">
  <ul class="strengthbar">
    <li class="point"  [style.background-color]="section1"></li>
    <li class="point" [style.background-color]="section2"></li>
    <li class="point" [style.background-color]="section3"></li>
  </ul>

</div>
